In [3]:
import pandas as pd 
import numpy as np

In [4]:
data_0 = pd.read_excel(r"C:\Users\billi\Downloads\Biogas Dataset\agstar-livestock-ad-database-combined.xlsx")
data_0.head()

,Project Name,Cluster Name,Project Type,City,County,State,Digester Type,Status,Year Operational,Animal/Farm Type(s),...,Electricity Generated (kWh/yr),Biogas End Use(s),LCFS Pathway?,System Designer(s)/Developer(s) and Affiliates,Receiving Utility,Total Emission Reductions (MTCO2e/yr),Awarded USDA Funding?,Sheet,Year Shutdown,Reason for Closure
0,Cargill - Sandy River Farm Digester,NaN,Farm Scale,Morrilton,Conway,AR,Covered Lagoon,Operational,2008.0,Swine,...,NaN,Flared Full-time,NaN,Martin Construction Resource LLC (formerly RCM...,NaN,4482.755303,NaN,Operational and Construction,NaN,NaN
1,Butterfield RNG Digester,NaN,Farm Scale,Buckeye,Maricopa,AZ,Mixed Plug Flow,Operational,2022.0,Dairy,...,NaN,Pipeline Gas,NaN,"Avolta [Project Developer]; DVO, Inc. (formerl...",Southwest Gas,14030.128975,Yes,Operational and Construction,NaN,NaN
2,Caballero Dairy Farms Digester,NaN,Farm Scale,Eloy,Pinal,AZ,Unknown or Unspecified,Construction,2022.0,Dairy,...,NaN,Pipeline Gas,NaN,Brightmark [Project Developer],NaN,98999.890159,NaN,Operational and Construction,NaN,NaN
3,Green Gas Partners Stanfield Digester,NaN,Centralized/Regional,Maricopa,Pinal,AZ,Complete Mix,Operational,2018.0,Dairy,...,NaN,Pipeline Gas,NaN,Equilibrium Capital [Project Developer]; Green...,Kinger Morgan El Paso,337499.625540,NaN,Operational and Construction,NaN,NaN
4,Paloma Dairy Digester,NaN,Farm Scale,Gila Bend,Maricopa,AZ,Complete Mix,Operational,2021.0,Dairy,...,NaN,CNG,NaN,Black Bear Environmental Assets [Project Devel...,Southwest Gas Company,100569.493399,NaN,Operational and Construction,NaN,NaN

In [5]:
columns_to_drop = ['Project Name', 'Cluster Name', 'Project Type', 'City', 'County', 'State', 'Status', 'Year Operational', 'Electricity Generated (kWh/yr)', 'Biogas End Use(s)', 'LCFS Pathway?', 'System Designer(s)/Developer(s) and Affiliates', 'Receiving Utility', 'Awarded USDA Funding?', 'Sheet', 'Year Shutdown', 'Reason for Closure']
data_0.drop(columns=columns_to_drop, inplace=True)

In [6]:
data_0.head()

,Digester Type,Animal/Farm Type(s),Cattle,Dairy,Poultry,Swine,Co-Digestion,Biogas Generation Estimate (cu-ft/day),Total Emission Reductions (MTCO2e/yr)
0,Covered Lagoon,Swine,NaN,NaN,NaN,4200.0,NaN,1814400.0,4482.755303
1,Mixed Plug Flow,Dairy,NaN,11760.0,NaN,NaN,NaN,NaN,14030.128975
2,Unknown or Unspecified,Dairy,NaN,8800.0,NaN,NaN,NaN,NaN,98999.890159
3,Complete Mix,Dairy,NaN,30000.0,NaN,NaN,NaN,3454500.0,337499.625540
4,Complete Mix,Dairy,NaN,10000.0,NaN,NaN,NaN,NaN,100569.493399

In [7]:
columns_to_drop = ['Co-Digestion']
data_0.drop(columns=columns_to_drop, inplace=True)
data_0.head()

,Digester Type,Animal/Farm Type(s),Cattle,Dairy,Poultry,Swine,Biogas Generation Estimate (cu-ft/day),Total Emission Reductions (MTCO2e/yr)
0,Covered Lagoon,Swine,NaN,NaN,NaN,4200.0,1814400.0,4482.755303
1,Mixed Plug Flow,Dairy,NaN,11760.0,NaN,NaN,NaN,14030.128975
2,Unknown or Unspecified,Dairy,NaN,8800.0,NaN,NaN,NaN,98999.890159
3,Complete Mix,Dairy,NaN,30000.0,NaN,NaN,3454500.0,337499.625540
4,Complete Mix,Dairy,NaN,10000.0,NaN,NaN,NaN,100569.493399

In [8]:
data_0['Quantity'] = data_0[['Cattle', 'Dairy', 'Poultry', 'Swine']].sum(axis=1)

In [9]:
data_0.head()

,Digester Type,Animal/Farm Type(s),Cattle,Dairy,Poultry,Swine,Biogas Generation Estimate (cu-ft/day),Total Emission Reductions (MTCO2e/yr),Quantity
0,Covered Lagoon,Swine,NaN,NaN,NaN,4200.0,1814400.0,4482.755303,4200.0
1,Mixed Plug Flow,Dairy,NaN,11760.0,NaN,NaN,NaN,14030.128975,11760.0
2,Unknown or Unspecified,Dairy,NaN,8800.0,NaN,NaN,NaN,98999.890159,8800.0
3,Complete Mix,Dairy,NaN,30000.0,NaN,NaN,3454500.0,337499.625540,30000.0
4,Complete Mix,Dairy,NaN,10000.0,NaN,NaN,NaN,100569.493399,10000.0

In [ ]:
data_0.fillna(0, inplace=True)

In [24]:
data_0.head()

,Digester Type,Animal/Farm Type(s),Biogas Generation Estimate (cu-ft/day),Quantity of Animals
0,Covered Lagoon,Swine,1814400.0,4200.0
1,Mixed Plug Flow,Dairy,0.0,11760.0
2,Unknown or Unspecified,Dairy,0.0,8800.0
3,Complete Mix,Dairy,3454500.0,30000.0
4,Complete Mix,Dairy,0.0,10000.0

In [22]:
data_0['Total waste kg/day']= (data_0['Cattle'] *36.9) +\
                                (data_0['Dairy'] *68) +\
                                (data_0['Poultry'] *0.28)+\
                                 (data_0['Swine'] *5.7)
data_0[['Cattle', 'Dairy', 'Poultry', 'Swine', 'Total waste kg/day']].head()

KeyError: 'Cattle'

In [10]:
columns_to_drop = ['Cattle', 'Dairy', 'Poultry', 'Swine']
data_0.drop(columns=columns_to_drop, inplace=True)
data_0.head()

,Digester Type,Animal/Farm Type(s),Biogas Generation Estimate (cu-ft/day),Total Emission Reductions (MTCO2e/yr),Quantity
0,Covered Lagoon,Swine,1814400.0,4482.755303,4200.0
1,Mixed Plug Flow,Dairy,NaN,14030.128975,11760.0
2,Unknown or Unspecified,Dairy,NaN,98999.890159,8800.0
3,Complete Mix,Dairy,3454500.0,337499.625540,30000.0
4,Complete Mix,Dairy,NaN,100569.493399,10000.0

In [11]:
data_0.rename(columns={'Quantity': 'Quantity of Animals'}, inplace=True)
data_0.head()

,Digester Type,Animal/Farm Type(s),Biogas Generation Estimate (cu-ft/day),Total Emission Reductions (MTCO2e/yr),Quantity of Animals
0,Covered Lagoon,Swine,1814400.0,4482.755303,4200.0
1,Mixed Plug Flow,Dairy,NaN,14030.128975,11760.0
2,Unknown or Unspecified,Dairy,NaN,98999.890159,8800.0
3,Complete Mix,Dairy,3454500.0,337499.625540,30000.0
4,Complete Mix,Dairy,NaN,100569.493399,10000.0

In [12]:
columns_to_drop = ['Total Emission Reductions (MTCO2e/yr)']
data_0.drop(columns=columns_to_drop, inplace=True)
data_0.head()

,Digester Type,Animal/Farm Type(s),Biogas Generation Estimate (cu-ft/day),Quantity of Animals
0,Covered Lagoon,Swine,1814400.0,4200.0
1,Mixed Plug Flow,Dairy,NaN,11760.0
2,Unknown or Unspecified,Dairy,NaN,8800.0
3,Complete Mix,Dairy,3454500.0,30000.0
4,Complete Mix,Dairy,NaN,10000.0

In [13]:
data_0.head()

,Digester Type,Animal/Farm Type(s),Biogas Generation Estimate (cu-ft/day),Quantity of Animals
0,Covered Lagoon,Swine,1814400.0,4200.0
1,Mixed Plug Flow,Dairy,NaN,11760.0
2,Unknown or Unspecified,Dairy,NaN,8800.0
3,Complete Mix,Dairy,3454500.0,30000.0
4,Complete Mix,Dairy,NaN,10000.0

In [27]:
data_0['Total waste kg/day'] =  (data_0['Cattle'] *36.9) +\
                                (data_0['Dairy'] *68) +\
                                (data_0['Poultry'] *0.28)+\
                                 (data_0['Swine'] *5.7)

KeyError: 'Cattle'

In [26]:
data_0.head()

,Digester Type,Animal/Farm Type(s),Biogas Generation Estimate (cu-ft/day),Quantity of Animals
0,Covered Lagoon,Swine,1814400.0,4200.0
1,Mixed Plug Flow,Dairy,0.0,11760.0
2,Unknown or Unspecified,Dairy,0.0,8800.0
3,Complete Mix,Dairy,3454500.0,30000.0
4,Complete Mix,Dairy,0.0,10000.0

In [ ]:
ata_1 = data_1[data_1['Biogas Generation Estimate (cu-ft/day)'] != 0]